@import '../../../assets/styles/colors';

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 128px;
  background-color: #f2296f60;
}

h1 {
  cursor: pointer;
}
