$color-blue: #1076af;
$color-pink: #f2296f;
$color-darkblue: #0d527e;
$color-salmon: #cd836d;
$color-darkcyan: #1b7b85;
$color-beige: #be794f;
$color-light: #d6c8c0;
$color-cyan: #62aab5;
$color-dark: #14282b;
$color-cinder: #796565;

$color-white: #fff;

$color-red: #da2c24;
// $color-j: #276ba7;
// $color-k: #409fbc;
// $color-l: #e5d9d5;
// $color-m: #bebd55;
// $color-n: #7b2c20;
// $color-o: #b18871;
// $color-p: #b5a7a5;
// $color-q: #416764;
// $color-q: #212327;
